/* Variables */
:root {
  --primary-color: rgba(211, 177, 141, 1);
  --secondary-color: rgba(60, 67, 76, 1);
  --light-color: rgba(240, 240, 240, 1);
  --dark-color: rgba(178, 178, 178, 1);
}
/* Variables end */

/* Fuentes */
.jost_regular {
  font-family: 'Jost'; 
  font-weight: 400; 
  font-style: normal;
}

.jost_medium {
  font-family: 'Jost'; 
  font-weight: 500; 
  font-style: normal;
}

.jost_semibold {
  font-family: 'Jost'; 
  font-weight: 600; 
  font-style: normal;
}

.jost_bold {
  font-family: 'Jost'; 
  font-weight: 700; 
  font-style: normal;
}

.raleway_regular {
  font-family: 'Raleway'; 
  font-weight: 400; 
  font-style: normal;
}

.raleway_medium {
  font-family: 'Raleway'; 
  font-weight: 500; 
  font-style: normal;
}

.raleway_semibold {
  font-family: 'Raleway'; 
  font-weight: 600; 
  font-style: normal;
}

.raleway_bold {
  font-family: 'Raleway'; 
  font-weight: 700; 
  font-style: normal;
}
/* Fuentes end */

html, body { /* Para corregir el desbordamiento que causo la libreria AOS.js */
 overflow-x: hidden;
}

body {
  font-family: 'Jost', sans-serif; 
  font-weight: 400; 
  font-style: normal;
  font-size: 16px;
}

a {
	text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

/* Buttones */
button,
.btn-primary {
  color: var(--primary-color);
  background-color: white;
  font-weight: 300;
  border-color: var(--primary-color);
  padding: 5px 30px;
  border-radius: 0;
}

.btn-check:focus + .btn-primary, .btn-primary:focus,
.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, 
.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle,
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, .show > 
.btn-primary.dropdown-toggle:focus {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary:hover {
  border-color: transparent!important;
  background: var(--primary-color);
  color: white;
}

.form-control:focus {
  box-shadow: none;
}
/* Buttones end */

#app {
  position: relative;
}

/* Comunes */
.col-md-12 h2,
.h1_products {
  background: var(--light-color);
  color: var(--secondary-color);
  padding: 10px;
  text-align: center;
  font-size: 1.35rem;
}

.col-md-12 h2 br {
  display: none;
}

.col-md-12 h2 span,
.h1_products span {
  color: var(--primary-color);
}
/* Comunes end */

/* Formulario de Contacto */
.modulo_contacto {
  background: var(--light-color);
  padding: 30px 0 30px 0;
  margin-bottom: 30px;
}

.modulo_contacto h2 {
  padding: 0;
  margin-bottom: 25px;
}

.modulo_contacto .content_input {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
  position: relative;
}

.modulo_contacto .content_input .invalid-feedback {
  position: absolute;
  bottom: -26px;
  left: 0;
  width: 100%;
  text-align: center;
}

.modulo_contacto .content_input label {
  min-width: 90px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: -5px;
}

.modulo_contacto .content_input .form-control {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px var(--dark-color);
  padding-bottom: 0;
}

.modulo_contacto .content_button {
  margin-top: 20px;
  text-align: right;
}

.modulo_contacto .content_button button {
  font-size: 0.95rem;
  font-weight: 700;
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.modulo_contacto .content_button button:hover {
  background: var(--secondary-color);
  color: white;
}

.modulo_contacto #spinner {
  display: none;
}
/* Formulario de Contacto end */

/* Galería */
.section_galeria {
  padding-left: 0;
  padding-right: 0;
}
/* Galería end */

/* Ser Parte */
.ser_parte {
  background: var(--dark-color);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.ser_parte h2 {
  padding-top: 0;
  background: transparent;
  margin-bottom: 20px;
}

.ser_parte a {
  background: transparent;
  border: solid 1px var(--secondary-color);
  color: var(--secondary-color);
}

.ser_parte a:hover {
  background: white;
  border: solid 1px var(--secondary-color)!important;
  color: var(--secondary-color);
}
/* Ser Parte end */

/* Materiales Sustentables */
.materiales_sustentables {
  margin-bottom: 30px;
  padding: 0;
}

.materiales_sustentables .content_img {
  margin-bottom: 10px;
}

.materiales_sustentables .content_img img {
  max-width: 30%;
}

.materiales_sustentables .content_data p {
  margin-bottom: 0;
}

.materiales_sustentables .content_data span {
  color: var(--primary-color);
}
/* Materiales Sustentables end */





/* MEDIA QUERIES */
@media (min-width: 480px) {

  /* Galería */
  .section_galeria .slick-slide {
    padding-left: 5px;
    padding-right: 5px;
  }
  /* Galería end */
  
}

@media (min-width: 576px) {

  /* Comunes */
  .col-md-12 h2,
  .h1_products {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5rem;
  }
  /* Comunes end */

  /* Formulario de Contacto */
  .modulo_contacto {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
  /* Formulario de Contacto end */

  /* Ser Parte */
  .ser_parte h2 {
    margin-bottom: 20px;
    padding-top: 0;
  }

  .ser_parte h2 br {
    display: inline-block;
  }
  /* Ser Parte end */

  /* Materiales Sustentables */
  .materiales_sustentables {
    margin-bottom: 60px;
  }
  /* Materiales Sustentables end */

}

@media (min-width: 768px) {

  /* Comunes */
  .col-md-12 h2,
  .h1_products {
    font-size: 2rem;
  }
  /* Comunes end */

  /* Materiales Sustentables */
  .materiales_sustentables h2 {
    font-size: 2rem;
  }

  .materiales_sustentables .content_img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .materiales_sustentables .content_img img {
    max-width: 75%;
    margin-bottom: 0;
  }

  .materiales_sustentables .content_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  /* Materiales Sustentables end */

}

@media (min-width: 992px) {

  /* Comunes */
  .col-md-12 h2,
  .h1_products {
    font-size: 2.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* Comunes end */

  /* Materiales Sustentables */
  .materiales_sustentables h2 {
    font-size: 2.5rem;
  }

  .materiales_sustentables .content_data p {
    font-size: 1.25rem;
  }
  /* Materiales Sustentables end */

}

@media (min-width: 1200px) {

  /* Formulario de Contacto */
  .modulo_contacto .content_input label {
    font-size: 1.25rem;
    min-width: 120px;
  }
  /* Formulario de Contacto end */

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

  /* Comunes */
  .col-md-12 h2,
  .h1_products {
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* Comunes end */

  /* Materiales Sustentables */
  .materiales_sustentables .content_data {
    justify-content: space-evenly;
  }

  .materiales_sustentables h2 {
    font-size: 3rem;
  }
  /* Materiales Sustentables end */

}





