footer {
	background: var(--secondary-color);
	padding-top: 30px;
	padding-left: 0!important;
	padding-right: 0!important;
}

footer a,
footer p {
	color: white;
	font-size: 0.85rem;
}

footer a:hover {
	color: var(--primary-color);
}

footer .logo_footer {
	text-align: center;
	margin-bottom: 30px;
}

footer .logo_footer img {
	max-width: 180px;
}

footer .menu {
	margin-bottom: 30px;
}

footer .menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
}

footer .menu ul li {
	padding-left: 10px;
}

footer .menu ul li:first-child {
	padding-left: 0;
}

footer .rrss {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .rrss a {
	display: inline-block;
	padding-left: 30px;
	font-size: 2rem;
}

footer .rrss a:first-child {
	padding-left: 0;
}

footer .libre {
	background: var(--primary-color);
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}

footer .libre a {
	font-size: 0.75rem;
}

footer .libre a:hover {
	color: var(--secondary-color);
}






/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

	footer .logo_footer img {
		max-width: 100%;
	}

	footer .menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer .rrss a {
		font-size: 1.75rem;
	}

}

@media (min-width: 992px) {

	footer .logo_footer img {
		max-width: 175px;
	}

}

@media (min-width: 1200px) {
	footer .logo_footer {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	footer .menu ul li {
		padding-left: 50px;
	}

	footer .menu ul li:first-child {
		padding-left: 0;
	}

	footer .rrss {
		justify-content: flex-end;
	}

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}