/* Comunes */
.home .col-md-12 h2 {
	background: var(--light-color);
	color: var(--secondary-color);
	padding: 10px;
	text-align: center;
	font-size: 1.35rem;
}

.home .col-md-12 h2 br {
	display: none;
}

.home .col-md-12 h2 span {
	color: var(--primary-color);
}
/* Comunes end */

/* Slide */
.home .slide {
	position: relative;
	padding: 0;
	margin-bottom: 30px;
}

.home .slide .content img {
	min-height: 400px;
	height: 400px;
	object-fit: cover;
}

.home .slide .content_data {
	position: absolute;
	top: calc( 50% - 65px );
	left: 0;
	width: 100%;
	text-align: center;
}

.home .slide .content_data h1 {
	color: white;
	font-size: 2rem;
	font-weight: 700;
}

.home .slide .content_data a {
	color: white;
	background: var(--secondary-color);
	border: var(--secondary-color);
}

.home .slide .content_data a:hover {
	color: var(--secondary-color);
	background: white;
	border: white;
}
/* Slide end */

/* Líneas */
.home .lineas {
	margin-bottom: 30px;
}

.home .lineas .botonera {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
}

.home .lineas .botonera span {
	color: var(--dark-color);
	font-size: 1.25rem;
	display: inline-block;
	cursor: pointer;
	border-bottom: solid 2px transparent;
}

.home .lineas .botonera span.active {
	color: var(--secondary-color);
	border-bottom: solid 2px var(--secondary-color);
}

.home .lineas .botonera span:hover {
	color: var(--secondary-color);
	border-bottom: solid 2px var(--secondary-color);
}

.home .lineas .content_line {
	display: none;
	opacity: 0;
  animation: fadein 1s;
}

.home .lineas .content_line.active {
	display: flex;
	opacity: 1;
}

@keyframes fadein {
  from {
  	opacity: 0;
  }
  to {
  	opacity: 1;
  }
}

.home .lineas .photo {
  width: 100%;
	overflow: hidden;
}
.home .lineas .photo img {
  transition: all 0.25s;
}
.home .lineas .photo:hover img {
  transform: scale(1.1);
  filter: grayscale(100%);
}
/* Líneas end */

/* Tecnología */
.home .tecnologia {
	padding-left: 0;
	padding-right: 0;
	padding: 30px 0 30px 0;
	background: #fcfcff;
}

.home .tecnologia h2 {
	background: #fcfcff;
}

.home .tecnologia .content_frase p {
	text-align: center;
}
/* Tecnología end */

/* Ventajas */
.home .ventajas {
	margin-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
}

.home .ventajas .col-6 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.home .ventajas .content_icon {
	text-align: center;
}

.home .ventajas .content_icon img {
	max-width: 40%;
	margin-bottom: 3px;
}

.home .ventajas .content_icon p {
	margin-bottom: 0;
	font-size: 0.85rem;
	font-weight: 500;
	line-height: 1.3;
}
/* Ventajas end */

/* Materiales Sustentables */
.home .materiales_sustentables {
	margin-bottom: 30px;
	padding: 0;
}

.home .materiales_sustentables .content_img {
	margin-bottom: 10px;
}

.home .materiales_sustentables .content_img img {
	max-width: 30%;
}

.home .materiales_sustentables .content_data p {
	margin-bottom: 0;
}

.home .materiales_sustentables .content_data span {
	color: var(--primary-color);
}
/* Materiales Sustentables end */

/* Red Distribuidores */
.home .distribuidores {
	padding: 0;
	background: var(--light-color);
	padding-top: 30px;
	padding-bottom: 30px;
}

.home .distribuidores .col-md-12 {
	padding: 0;
}

.home .distribuidores p {
	margin-bottom: 0;
}

.home .distribuidores a img {
	mix-blend-mode: multiply;
}

.home .distribuidores a:hover img {
	opacity: 0.7;
}
/* Red Distribuidores end */

/* Ser Parte */
.home .ser_parte {
	background: var(--dark-color);
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.home .ser_parte h2 {
	padding-top: 0;
	background: transparent;
	margin-bottom: 20px;
}

.home .ser_parte a {
	background: transparent;
	border: solid 1px var(--secondary-color);
	color: var(--secondary-color);
}

.home .ser_parte a:hover {
	background: white;
	border: solid 1px white!important;
}
/* Ser Parte end */







/* MEDIA QUERIES */
@media (min-width: 576px) {
	/* Comunes */
	.home .col-md-12 h2 {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 1.5rem;
	}
	/* Comunes end */

	/* Slide */
	.home .slide {
		margin-bottom: 60px;
	}

	.home .slide .content_data h1 {
		font-size: 2.5rem;
		margin-bottom: 15px;
	}

	.home .slide .content_data a {
		font-size: 1.25rem;
	}
	/* Slide end */

	/* Lineas */
	.home .lineas {
		margin-bottom: 60px;
	}
	/* Lineas end */

	/* Tecnología */
	.home .tecnologia h2 {
		margin-bottom: 30px;
	}
	/* Tecnología end */

	/* Ventajas */
	.home .ventajas {
		margin-bottom: 60px;
	}

	.home .ventajas .col-6 {
	  margin-top: 30px;
	}

	.home .ventajas .content_icon img {
		max-width: 85%;
		margin-bottom: 5px;
	}

	.home .ventajas .content_icon p {
		font-size: 1rem;
	}
	/* Ventajas end */

	/* Materiales Sustentables */
	.home .materiales_sustentables {
		margin-bottom: 60px;
	}
	/* Materiales Sustentables end */

	/* Red Distribuidores */
	.home .distribuidores h2 {
		margin-bottom: 0;
		padding-top: 0;
	}

	.home .distribuidores .col-6 a {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.home .distribuidores img {
		max-width: 75%;
	}
	/* Red Distribuidores end */

	/* Ser Parte */
	.home .ser_parte h2 {
		margin-bottom: 20px;
		padding-top: 0;
	}

	.home .ser_parte h2 br {
		display: inline-block;
	}
	/* Ser Parte end */

}

@media (min-width: 768px) {

	/* Comunes */
	.home .col-md-12 h2 {
		font-size: 2rem;
	}
	/* Comunes end */

	/* Slide */
	.home .slide .content img {
		object-fit: initial;
	}
	/* Slide end */

	.home .slide .content_data h1 {
		margin-bottom: 30px;
	}

	/* Botonera  */
	.home .lineas .botonera {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.home .lineas .botonera span {
		font-size: 2rem;
		width: 100%;
		border-top: solid 2px transparent;
		border-bottom: solid 2px transparent;
		font-weight: 600;
	}

	.home .lineas .botonera span.active {
		color: var(--primary-color);
		border-top: solid 2px var(--primary-color);
		border-bottom: solid 2px var(--primary-color);
	}

	.home .lineas .botonera span:hover {
		color: var(--primary-color);
		border-bottom: solid 2px var(--primary-color);
	}
	/* Botonera end */

	/* Tecnología */
	.home .tecnologia h2 {
		margin-bottom: 30px;
	}

	.home .tecnologia .col-md-12 {
		position: relative;
	}

	.home .tecnologia .content_frase {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 40%;
		margin-left: calc(var(--bs-gutter-x) * .5);
	}

	.home .tecnologia .content_frase p {
		margin-bottom: 0;
		text-align: left;
		font-size: 1.15rem;
	}
	/* Tecnología end */

	/* Ventajas	*/
	.home .ventajas .content_icon img {
		max-width: 100%;
		margin-bottom: 10px;
	}

	.home .ventajas .content_icon p {
		font-size: 1.25rem;
	}
	/* Ventajas	end */

	/* Materiales Sustentables */
	.home .materiales_sustentables h2 {
		font-size: 2rem;
	}

	.home .materiales_sustentables .content_img {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.home .materiales_sustentables .content_img img {
		max-width: 75%;
		margin-bottom: 0;
	}

	.home .materiales_sustentables .content_data {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	/* Materiales Sustentables end */

	/* Distribuidores	*/
	.home .distribuidores img {
		max-width: 100%;
	}
	/* Distribuidores	end */

}

@media (min-width: 992px) {

	/* Comunes */
	.home .col-md-12 h2 {
		font-size: 2.5rem;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	/* Comunes end */

	/* Slide */
	.home .slide .content img {
		min-height: auto;
		height: auto;
	}

	.home .slide .content_data h1 {
		font-size: 3rem;
	}
	/* Slide end */

	/* Líneas	*/
	.home .lineas .botonera span {
		font-size: 2.5rem;
	}
	/* Líneas	end */

	/* Tecnología */
	.home .tecnologia .content_frase h2 {
		padding-top: 0;
	}

	.home .tecnologia .content_frase p {
		font-size: 1.25rem;
	}

	.home .tecnologia .col-md-12 {
		text-align: center;
	}
	/* Tecnología end */

	/* Materiales Sustentables */
	.home .materiales_sustentables h2 {
		font-size: 2.5rem;
	}

	.home .materiales_sustentables .content_data p {
		font-size: 1.25rem;
	}
	/* Materiales Sustentables end */





}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

	/* Comunes */
	.home .col-md-12 h2 {
		font-size: 3rem;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/* Comunes end */

	/* Slide */
	.home .slide .content_data h1 {
		font-size: 3.5rem;
	}
	/* Slide end */

	/* Materiales Sustentables */
	.home .materiales_sustentables .content_data {
		justify-content: space-evenly;
	}

	.home .materiales_sustentables h2 {
		font-size: 3rem;
	}
	/* Materiales Sustentables end */

}

@media (min-width: 2000px) {
	/* Slide */
	.home .slide .content img {
		width: 100%;
	}
	/* Slide end */
}
